[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
boto3 = "*"
django = "*"
djangorestframework = "*"
requests-oauthlib = "*"

[dev-packages]
codecov = "*"
mock = "*"
pytest = "*"
pytest-codestyle = "*"
pytest-cov = "*"
pytest-django = "*"
requests_mock = "*"
werkzeug = "*"

[requires]
python_version = "3.7"
